h1 {  color: green;       /*color of text*/
      background-color: red; /*backgroud color of an element*/
      text-align: center; /*how the text is aligned in the element */
      font-size: 1em; /*size of the font, 1 em means 1 times bigger than normal */


  
}
